.homeBg {
	background-image: url('/images/bgHome.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 690px 957px;
}

/* .main {
	min-height: 100vh;
	padding: 4rem 0;
} */
